# Early Blight Detection Project

## Data Exploration

In [15]:
import pandas as pd
import numpy as np
import matplotlib as plt
from collections import Counter

### Get count of code violations per parcel 2018-2020

In [16]:
#Getting code enforcement data from 2018-2020 for KCK
code_count_data = pd.read_csv(r'C:\Users\nrebovich\Desktop\Early Detection Project\Data\CodeEnforcement1820.csv')

In [17]:
code_count_data.columns

Index(['CaseNumber', 'CaseKey1', 'CaseKey3', 'Parcel', 'Type', 'TypeAlias',
       'WorkDescription', 'DetailStatus', 'StatusGroup', 'Status', 'Reported',
       'Created', 'Creator', 'StatusDate', 'Edited', 'Editor',
       'TrackingNumber', 'HouseCount', 'BuildingCount', 'Blitz',
       'CertifiedMail', 'ReportedAddress', 'Source'],
      dtype='object')

In [18]:
#Get number of code violations by parcel 2018-2020
code_count = Counter(code_count_data['Parcel'])

In [19]:
#Convert code count into pandas dataframe
code_counter_df = pd.DataFrame.from_dict(code_count, orient='index').reset_index()

In [20]:
#Rename columns to reflect data (parcel and count of code violations)
code_counter_df = code_counter_df.rename(columns={'index':'Parcel', 0:'code_violation_count'})

In [21]:
#Remove counts with NaN parcel numbers
code_counter_df = code_counter_df.dropna(axis='rows')

In [22]:
code_counter_df

         Parcel  code_violation_count
0         226.0                     3
1         423.0                     3
2        2021.0                     4
3        2546.0                     3
4        2911.0                     2
...         ...                   ...
16168  934005.0                     1
16169  910508.0                     1
16170  196302.0                     1
16171   38537.0                     1
16187  401703.0                     1

[15959 rows x 2 columns]

In [23]:
#Number of code violations by type
code_type_count = Counter(code_count_data['Type'])
code_type_counter_df = pd.DataFrame.from_dict(code_type_count, orient='index').reset_index()
code_type_counter_df = code_type_counter_df.rename(columns={'index':'Code_Type', 0:'code_type_count'})
code_type_counter_df

                         Code_Type  code_type_count
0   Code-Other Multiple Violations            12817
1        Code-Environment Vehicles             6390
2                  Code-Structural             1474
3           Code-Environment Trash              871
4            Code-Environment Junk              576
5              Code-Zoning Storage              153
6           Code-Environment Trees              577
7            Code-Environment Weed             1546
8          Code-Environment Debris              361
9         Building-Service Request              614
10               Code-Zoning Other              145
11             Code-Zoning Fencing               91
12                Code-Fire Damage              248
13                             VPR              208
14             Code-Zoning Signage              192
15              Code-Zoning Animal               22

### Get most recent date of a code violation

In [24]:
#Group code violation dates by parcel then get the most recent date
code_date_df = pd.DataFrame(code_count_data)
code_date_df = code_date_df[['Parcel','Created']]
code_recent_date_df = code_date_df.groupby('Parcel').max()
code_recent_date_df = code_recent_date_df.rename(columns = {'Created':'Most Recent Code Violation'})
code_recent_date_df


#for name in code_count_group_df:
#    print(name)

         Most Recent Code Violation
Parcel
100.0                     3/13/2020
203.0                     4/18/2019
207.0                      3/7/2018
213.0                      4/3/2020
217.0                      2/8/2019
...                             ...
963604.0                   1/9/2020
965705.0                  9/30/2019
965708.0                 12/24/2019
965710.0                 12/24/2019
966101.0                 12/18/2018

[15959 rows x 1 columns]

### Tax Deliquency Data

In [25]:
tax_deliq_data = pd.read_csv(r'C:\Users\nrebovich\Desktop\Early Detection Project\Data\tax del 8.12.20.csv')

In [26]:
tax_deliq_data = tax_deliq_data[['Parcel','Exception','Penalties','Delinquent','YearsDelinquent']]

In [27]:
tax_deliq_data

      Parcel       Exception  Penalties  Delinquent  YearsDelinquent
0     938310             NaN        1.0        0.00                0
1     133300             NaN        1.0        0.00                0
2      80577    Payment Plan        2.0     1436.41                4
3      68940             NaN        1.0    11592.91                7
4      76669             NaN        3.0     1463.35                2
...      ...             ...        ...         ...              ...
9869   59412             NaN        3.0     2417.40                2
9870  121185             NaN        3.0      449.19                1
9871  135109             NaN        1.0     1229.56                1
9872  132900  In Foreclosure        4.0     1171.89               38
9873  188498             NaN        1.0        0.00                0

[9874 rows x 5 columns]

### Cosolidated Data
#### Includes Appraisal, Unfit Label, Property Features, Location Features

In [28]:
parcel_data = pd.read_csv(r'C:\Users\nrebovich\Desktop\Consolidated Data.csv')

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (50,68) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
imp_data = pd.DataFrame(parcel_data)

In [30]:
focused_df = imp_data[['PARCEL','ACRE','NeighborhoodCode','Township','TownshipSection','RESfquality','RESfrmbed','RESfbathfull','RESfbathhalf','RESfyrblt','AppraisedLand2020','AppraisedBuilding2020','AppraisedTotal2020','AppraisedLand2019','AppraisedBuilding2019','AppraisedTotal2019','AppraisedValueChange20_19','Unfit']]

In [31]:
focused_df

,PARCEL,ACRE,NeighborhoodCode,Township,TownshipSection,RESfquality,RESfrmbed,RESfbathfull,RESfbathhalf,RESfyrblt,AppraisedLand2020,AppraisedBuilding2020,AppraisedTotal2020,AppraisedLand2019,AppraisedBuilding2019,AppraisedTotal2019,AppraisedValueChange20_19,Unfit
0,9471,0.193979,470,11.0,8.0,2.67,3.0,1.0,0.0,1960.0,20160,81320,101480,17110.0,75990.0,93100.0,8380.0,1
1,94785,0.072660,225,10.0,34.0,2.33,4.0,1.0,0.0,1910.0,2260,18120,20380,2260.0,13700.0,15960.0,4420.0,1
2,156834,0.083081,220,10.0,33.0,2.33,2.0,1.0,0.0,1920.0,2330,3090,5420,2330.0,3010.0,5340.0,80.0,1
3,157473,0.108329,220,10.0,33.0,3.33,3.0,1.0,1.0,1935.0,2490,20500,22990,2490.0,16660.0,19150.0,3840.0,1
4,131900,0.190095,200,10.0,33.0,3.33,3.0,1.0,0.0,1890.0,2870,5100,7970,2870.0,1820.0,4690.0,3280.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50270,291747,0.232263,492,11.0,6.0,3.33,4.0,3.0,0.0,2015.0,28890,235610,264500,26750.0,224750.0,251500.0,13000.0,0
50271,146112,0.464132,490,11.0,6.0,2.67,2.0,1.0,0.0,1951.0,20600,97090,117690,20600.0,88370.0,108970.0,8720.0,0
50272,179314,0.250620,590,11.0,7.0,NaN,NaN,NaN,NaN,NaN,6940,910,7850,5050.0,890.0,5940.0,1910.0,0
50273,109007,0.508830,480,11.0,6.0,3.00,3.0,1.0,1.0,1955.0,20780,116620,137400,20780.0,106440.0,127220.0,10180.0,0
50274,109003,0.512584,480,11.0,6.0,2.67,3.0,1.0,1.0,1946.0,20820,83240,104060,20820.0,75530.0,96350.0,7710.0,0

### Merge Code and Tax Deliquency Data with Consolidated Data

In [32]:
#Join Appraisal data with code count data
focused_code_df = pd.merge(focused_df, code_counter_df, how='left', left_on='PARCEL', right_on='Parcel',
left_index=False, right_index=False, sort=True)
#drop duplicate parcel column
focused_code_df = focused_code_df.drop(['Parcel'], axis=1)
focused_code_df

,PARCEL,ACRE,NeighborhoodCode,Township,TownshipSection,RESfquality,RESfrmbed,RESfbathfull,RESfbathhalf,RESfyrblt,AppraisedLand2020,AppraisedBuilding2020,AppraisedTotal2020,AppraisedLand2019,AppraisedBuilding2019,AppraisedTotal2019,AppraisedValueChange20_19,Unfit,code_violation_count
0,100,0.750045,350,10.0,34.0,3.00,4.0,2.0,0.0,1930.0,11450,80130,91580,11150.0,71350.0,82500.0,9080.0,0,1.0
1,101,0.793940,350,10.0,34.0,3.00,3.0,1.0,1.0,1960.0,11810,103250,115060,11510.0,92150.0,103660.0,11400.0,0,NaN
2,105,3.819433,350,10.0,34.0,2.67,3.0,1.0,0.0,1950.0,27620,74290,101910,26540.0,65270.0,91810.0,10100.0,0,NaN
3,109,0.958819,350,10.0,34.0,2.00,3.0,2.0,1.0,1998.0,3650,67730,71380,3650.0,60660.0,64310.0,7070.0,0,NaN
4,112,1.901294,350,10.0,34.0,2.67,2.0,1.0,0.0,1949.0,18650,85250,103900,18130.0,81010.0,99140.0,4760.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50270,965706,4.477285,540,10.0,5.0,3.00,4.0,3.0,0.0,1990.0,83820,244350,328170,75790.0,245950.0,321740.0,6430.0,0,NaN
50271,965707,4.089858,540,10.0,5.0,2.67,4.0,2.0,1.0,1997.0,80060,169010,249070,72550.0,171640.0,244190.0,4880.0,0,NaN
50272,965708,2.727818,540,10.0,5.0,2.67,3.0,1.0,0.0,1946.0,43660,102200,145860,41020.0,101980.0,143000.0,2860.0,0,1.0
50273,965709,3.344838,540,10.0,5.0,2.67,4.0,2.0,1.0,1992.0,74370,161180,235550,67660.0,163270.0,230930.0,4620.0,0,NaN
50274,965802,15.962363,540,10.0,5.0,3.67,3.0,3.0,1.0,2017.0,150300,493250,643550,133750.0,497180.0,630930.0,12620.0,0,NaN

In [33]:
#Replace code count NaNs with 0
focused_code_df['code_violation_count'] = focused_code_df['code_violation_count'].fillna(0)
focused_code_df

,PARCEL,ACRE,NeighborhoodCode,Township,TownshipSection,RESfquality,RESfrmbed,RESfbathfull,RESfbathhalf,RESfyrblt,AppraisedLand2020,AppraisedBuilding2020,AppraisedTotal2020,AppraisedLand2019,AppraisedBuilding2019,AppraisedTotal2019,AppraisedValueChange20_19,Unfit,code_violation_count
0,100,0.750045,350,10.0,34.0,3.00,4.0,2.0,0.0,1930.0,11450,80130,91580,11150.0,71350.0,82500.0,9080.0,0,1.0
1,101,0.793940,350,10.0,34.0,3.00,3.0,1.0,1.0,1960.0,11810,103250,115060,11510.0,92150.0,103660.0,11400.0,0,0.0
2,105,3.819433,350,10.0,34.0,2.67,3.0,1.0,0.0,1950.0,27620,74290,101910,26540.0,65270.0,91810.0,10100.0,0,0.0
3,109,0.958819,350,10.0,34.0,2.00,3.0,2.0,1.0,1998.0,3650,67730,71380,3650.0,60660.0,64310.0,7070.0,0,0.0
4,112,1.901294,350,10.0,34.0,2.67,2.0,1.0,0.0,1949.0,18650,85250,103900,18130.0,81010.0,99140.0,4760.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50270,965706,4.477285,540,10.0,5.0,3.00,4.0,3.0,0.0,1990.0,83820,244350,328170,75790.0,245950.0,321740.0,6430.0,0,0.0
50271,965707,4.089858,540,10.0,5.0,2.67,4.0,2.0,1.0,1997.0,80060,169010,249070,72550.0,171640.0,244190.0,4880.0,0,0.0
50272,965708,2.727818,540,10.0,5.0,2.67,3.0,1.0,0.0,1946.0,43660,102200,145860,41020.0,101980.0,143000.0,2860.0,0,1.0
50273,965709,3.344838,540,10.0,5.0,2.67,4.0,2.0,1.0,1992.0,74370,161180,235550,67660.0,163270.0,230930.0,4620.0,0,0.0
50274,965802,15.962363,540,10.0,5.0,3.67,3.0,3.0,1.0,2017.0,150300,493250,643550,133750.0,497180.0,630930.0,12620.0,0,0.0

In [34]:
focused_code_df = pd.merge(focused_code_df, code_recent_date_df, how='left', left_on='PARCEL', right_on='Parcel',
left_index=False, right_index=False, sort=True)

In [35]:
focused_code_df

,PARCEL,ACRE,NeighborhoodCode,Township,TownshipSection,RESfquality,RESfrmbed,RESfbathfull,RESfbathhalf,RESfyrblt,AppraisedLand2020,AppraisedBuilding2020,AppraisedTotal2020,AppraisedLand2019,AppraisedBuilding2019,AppraisedTotal2019,AppraisedValueChange20_19,Unfit,code_violation_count,Most Recent Code Violation
0,100,0.750045,350,10.0,34.0,3.00,4.0,2.0,0.0,1930.0,11450,80130,91580,11150.0,71350.0,82500.0,9080.0,0,1.0,3/13/2020
1,101,0.793940,350,10.0,34.0,3.00,3.0,1.0,1.0,1960.0,11810,103250,115060,11510.0,92150.0,103660.0,11400.0,0,0.0,NaN
2,105,3.819433,350,10.0,34.0,2.67,3.0,1.0,0.0,1950.0,27620,74290,101910,26540.0,65270.0,91810.0,10100.0,0,0.0,NaN
3,109,0.958819,350,10.0,34.0,2.00,3.0,2.0,1.0,1998.0,3650,67730,71380,3650.0,60660.0,64310.0,7070.0,0,0.0,NaN
4,112,1.901294,350,10.0,34.0,2.67,2.0,1.0,0.0,1949.0,18650,85250,103900,18130.0,81010.0,99140.0,4760.0,0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50270,965706,4.477285,540,10.0,5.0,3.00,4.0,3.0,0.0,1990.0,83820,244350,328170,75790.0,245950.0,321740.0,6430.0,0,0.0,NaN
50271,965707,4.089858,540,10.0,5.0,2.67,4.0,2.0,1.0,1997.0,80060,169010,249070,72550.0,171640.0,244190.0,4880.0,0,0.0,NaN
50272,965708,2.727818,540,10.0,5.0,2.67,3.0,1.0,0.0,1946.0,43660,102200,145860,41020.0,101980.0,143000.0,2860.0,0,1.0,12/24/2019
50273,965709,3.344838,540,10.0,5.0,2.67,4.0,2.0,1.0,1992.0,74370,161180,235550,67660.0,163270.0,230930.0,4620.0,0,0.0,NaN
50274,965802,15.962363,540,10.0,5.0,3.67,3.0,3.0,1.0,2017.0,150300,493250,643550,133750.0,497180.0,630930.0,12620.0,0,0.0,NaN

In [36]:
focused_code_df = pd.merge(focused_code_df, tax_deliq_data, how='left', left_on='PARCEL', right_on='Parcel',
left_index=False, right_index=False, sort=True)

In [37]:
focused_code_df

,PARCEL,ACRE,NeighborhoodCode,Township,TownshipSection,RESfquality,RESfrmbed,RESfbathfull,RESfbathhalf,RESfyrblt,...,AppraisedTotal2019,AppraisedValueChange20_19,Unfit,code_violation_count,Most Recent Code Violation,Parcel,Exception,Penalties,Delinquent,YearsDelinquent
0,100,0.750045,350,10.0,34.0,3.00,4.0,2.0,0.0,1930.0,...,82500.0,9080.0,0,1.0,3/13/2020,NaN,NaN,NaN,NaN,NaN
1,101,0.793940,350,10.0,34.0,3.00,3.0,1.0,1.0,1960.0,...,103660.0,11400.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,105,3.819433,350,10.0,34.0,2.67,3.0,1.0,0.0,1950.0,...,91810.0,10100.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,109,0.958819,350,10.0,34.0,2.00,3.0,2.0,1.0,1998.0,...,64310.0,7070.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,112,1.901294,350,10.0,34.0,2.67,2.0,1.0,0.0,1949.0,...,99140.0,4760.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50270,965706,4.477285,540,10.0,5.0,3.00,4.0,3.0,0.0,1990.0,...,321740.0,6430.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
50271,965707,4.089858,540,10.0,5.0,2.67,4.0,2.0,1.0,1997.0,...,244190.0,4880.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
50272,965708,2.727818,540,10.0,5.0,2.67,3.0,1.0,0.0,1946.0,...,143000.0,2860.0,0,1.0,12/24/2019,NaN,NaN,NaN,NaN,NaN
50273,965709,3.344838,540,10.0,5.0,2.67,4.0,2.0,1.0,1992.0,...,230930.0,4620.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
50274,965802,15.962363,540,10.0,5.0,3.67,3.0,3.0,1.0,2017.0,...,630930.0,12620.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
focused_code_df['delinquent_binary'] = focused_code_df['Parcel'].notna()

In [39]:
focused_code_df['delinquent_binary'] = focused_code_df['delinquent_binary'].astype(int)

In [40]:
focused_code_df

,PARCEL,ACRE,NeighborhoodCode,Township,TownshipSection,RESfquality,RESfrmbed,RESfbathfull,RESfbathhalf,RESfyrblt,...,AppraisedValueChange20_19,Unfit,code_violation_count,Most Recent Code Violation,Parcel,Exception,Penalties,Delinquent,YearsDelinquent,delinquent_binary
0,100,0.750045,350,10.0,34.0,3.00,4.0,2.0,0.0,1930.0,...,9080.0,0,1.0,3/13/2020,NaN,NaN,NaN,NaN,NaN,0
1,101,0.793940,350,10.0,34.0,3.00,3.0,1.0,1.0,1960.0,...,11400.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,105,3.819433,350,10.0,34.0,2.67,3.0,1.0,0.0,1950.0,...,10100.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,109,0.958819,350,10.0,34.0,2.00,3.0,2.0,1.0,1998.0,...,7070.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
4,112,1.901294,350,10.0,34.0,2.67,2.0,1.0,0.0,1949.0,...,4760.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50270,965706,4.477285,540,10.0,5.0,3.00,4.0,3.0,0.0,1990.0,...,6430.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
50271,965707,4.089858,540,10.0,5.0,2.67,4.0,2.0,1.0,1997.0,...,4880.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
50272,965708,2.727818,540,10.0,5.0,2.67,3.0,1.0,0.0,1946.0,...,2860.0,0,1.0,12/24/2019,NaN,NaN,NaN,NaN,NaN,0
50273,965709,3.344838,540,10.0,5.0,2.67,4.0,2.0,1.0,1992.0,...,4620.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
50274,965802,15.962363,540,10.0,5.0,3.67,3.0,3.0,1.0,2017.0,...,12620.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0

In [43]:
focused_code_df.to_csv('Consolidated_Data.csv', index = True)

## Mining the Data

NameError: name 'Consolidated_data' is not defined

In [45]:
Consolidated_data = pd.read_csv(r'C:\Users\nrebovich\Desktop\Consolidated_Data.csv')

In [46]:
Consolidated_data.describe()

,Unnamed: 0,PARCEL,ACRE,Township,TownshipSection,RESfquality,RESfrmbed,RESfbathfull,RESfbathhalf,RESfyrblt,...,AppraisedBuilding2019,AppraisedTotal2019,AppraisedValueChange20_19,Unfit,code_violation_count,Parcel,Penalties,Delinquent,YearsDelinquent,delinquent_binary
count,50275.000000,50275.000000,50275.000000,50142.000000,50142.000000,49584.000000,49584.000000,49584.000000,49584.000000,49584.000000,...,5.027200e+04,5.027200e+04,5.027200e+04,50275.000000,50275.000000,6434.000000,6433.000000,6434.000000,6434.000000,50275.000000
mean,25137.000000,181603.684774,0.533426,10.663236,22.006601,2.776556,2.864856,1.493627,0.307498,1952.924310,...,9.242067e+04,1.108322e+05,8.910421e+03,0.008414,0.464028,152663.640970,1.863361,824.363813,1.327945,0.127976
std,14513.286729,229292.121133,2.266059,0.473409,11.392458,0.397836,0.866912,0.711549,0.515038,28.414606,...,1.988468e+05,2.185608e+05,4.002293e+04,0.091341,1.100399,201280.222978,1.480958,1701.230382,2.286629,0.334067
min,0.000000,100.000000,0.013850,10.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1851.000000,...,0.000000e+00,0.000000e+00,-1.497600e+06,0.000000,0.000000,114.000000,1.000000,0.000000,0.000000,0.000000
25%,12568.500000,54463.500000,0.139899,10.000000,9.000000,2.330000,2.000000,1.000000,0.000000,1930.000000,...,3.900000e+04,4.784000e+04,3.220000e+03,0.000000,0.000000,66226.500000,1.000000,0.000000,0.000000,0.000000
50%,25137.000000,116504.000000,0.213512,11.000000,26.000000,2.670000,3.000000,1.000000,0.000000,1952.000000,...,7.229000e+04,8.852000e+04,6.500000e+03,0.000000,0.000000,102603.500000,1.000000,25.700000,1.000000,0.000000
75%,37705.500000,197432.500000,0.344844,11.000000,32.000000,3.000000,3.000000,2.000000,1.000000,1968.000000,...,1.169300e+05,1.390000e+05,1.030000e+04,0.000000,1.000000,158734.750000,2.000000,995.180000,2.000000,0.000000
max,50274.000000,965802.000000,174.644609,12.000000,36.000000,5.830000,15.000000,10.000000,4.000000,2019.000000,...,1.830185e+07,2.084800e+07,5.841400e+06,1.000000,76.000000,964305.000000,31.000000,26830.370000,29.000000,1.000000